body{
    min-height: 100vh;
    margin:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Inter', sans-serif;
    overflow-x:hidden
}

.top-menu a{
    text-decoration: none;
    margin-right: 2rem;
    color:black;
}

.top-menu{
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
    width: 100%;
    justify-content:flex-end;
    align-items: center;
    background-color:lightgray;
    height: 45px;
    border: grey solid;
    border-width: 0px 2px 2px 2px;
    transition: top 0.3s;
}


.footer{
    display:flex;
    width: 100%;
    flex-direction: row;
    background-color: lightgray;
    border: grey solid;
    border-width: 2px 2px 0px 2px;
    justify-content: space-evenly;
    align-items: center;
}

.root{
    padding:60px 0px 20px 0px;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: stretch;
}