.history_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 40px;
}

h2{
    margin-bottom:25px;
    color: white;
}

ul{
    list-style-type: none;
}

.history_list a{
    display: flex;
    text-decoration: none;
    width: 100%;
    color: white;
}

.history_details a{
    border-bottom: 1px solid white;
}

.history_details{
    display:flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.date_author{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

img{
    margin-bottom: 10px;
}

.pagination{
    text-wrap: nowrap;
    color:white;
    margin-bottom:15px;
}

.step-links{
    display: flex;
    flex-direction: row;
}

.step-links *{
    margin-right: 5px;
}


.btn-primary{
    background-color: #205985;
    --bs-btn-border-color:transparent;
}

#container {
    width: 50%;
    height: 100%;
    position: relative;
    background: rgba(217, 217, 217, 0.4);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
}

.none_info{
    font-size: 40px;
    color: white;
}
