.form_div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_div input{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.form_div label, p{
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

.form span{
    display: none;
}


.btn-outline-primary{
    border-color:#2b4b82 !important;
} 

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #2b4b82 !important;
}

.form-text{
    color:white;
}

.btn-primary{
    background-color: #205985;
    --bs-btn-border-color:transparent;
}

