
form{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    margin:auto;
    overflow:hidden;
}


.side_menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    width: 25%;
    background-color: lightgray;
    border: 2px grey solid;
    padding: 0px 0px 40px 0px;
    margin-bottom: 5px;
    overflow-y: auto;
}


#description{
    font-size: 40px;
    text-align: center;
    margin: 10px 0px 15px 0px;
}

.upload_field {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width:645px;
}


.upload_field label{
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}


.upload_field label img{
    margin-right:5px;
    display: block;
}


.image_number {
    font-size: medium;
    margin: 0 0 5px 0 ;
}

.results{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    align-items: center;
    border: 2px black solid;
    border-radius: 5%;
    margin-bottom: 15px;
}

.detection_info{
    font-size: large;
    text-decoration:solid;
    color: black;
}

#download_json{
    background-color: chartreuse;
    margin: 30px auto auto auto;
    height: 50px;
    width: 60%;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 25px;
    text-decoration: none;
    color:black;
    font-family: Arial;
    text-align: center;
    line-height:45px;
}

#submit{
    background-color: chartreuse;
    margin-top: auto;
    height: 50px;
    width: 80%;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 25px;
    text-decoration: none;
    color:black;
    font-family: Arial;
    text-align: center;
    line-height:45px;
}