{% extends 'base.html' %}
{%load static%}
{% load crispy_forms_tags %}
{%block extracss%}
<link rel="stylesheet" href="{% static 'DetectionApp/css/login_signup.css' %}">
{%endblock extracss%}
{%block content%}
<div class="form_div">
{%if signup is not None%}
<p class="top_label">Register</p>
{% else%}
<p class="top_label">Login</p>
{%endif%}
    <form class="form" method="post">
        {%csrf_token%}
        {{form|crispy}}
    {% if signup is None%}
        <input type="submit" value="Log in" class="btn btn-primary">
    </form>
<p class="signup_label">Don't have an account? <a href="{%url 'signup'%}" class="btn btn-primary">Sign Up</a></p>
{%else%}
        <input type="submit" value="Sign Up" class="btn btn-primary">
    </form>
{%endif%}
</div>
{%endblock content%}