{%extends 'base.html'%}
{%load static%}
{%block extracss%}
<link rel="stylesheet" href="{% static 'Community/css/post_details.css' %}">
{%endblock extracss%}
{%block content%}
<div class="page-container">
    <div class="post">
    <div class="title-content">
        <p id="title">{{object.title}}</p>
        <p id="content">{{object.content}}</p>
    </div>
    <div class="author">
        <p id="author">{{object.author}}</p>
    </div>
    </div>
    <div id="add_comment">
    <form method="POST" id="comment_form">
    {%csrf_token%}
    {{form}}
    <input type="submit" id="submit" value="Add comment">
    </form>
    </div>
    <p id="comment-label">Comments:</p>
    <div class="comments">
        {%for comment in object.sorted_comments%}
    <div class="single-comment">
            <p id="comment-content">{{comment.content}}</p>
            <div class="date_author">
            <p id="comment-date">{{comment.date_added}}</p>
            <p id="comment-author">{{comment.author}}</p>
            </div>
    </div>            
        {%endfor%}
    </div>
</div>
{%endblock content%}