#add_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    height: 100%;
}



#add_post label{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary{
    background-color: #205985;
    --bs-btn-border-color:transparent;
    margin-top: 20px;
}

#id_title{
    border-color: white;
}

.django-ckeditor-widget{
    border:none;
    width: auto;
    padding:0px 15px 0px 15px
}