.post_list{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color:white;
}


ul{
    list-style-type: none;
}

.post_list a{
    text-decoration: none;
    color: white;
}

#post_preview{
    width: 100%;
    color:white
}

.post_details{
    margin-top: 5%;
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: 0 2px lightgray;
}

.date_author{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}


.btn-primary{
    background-color: #205985;
    --bs-btn-border-color:transparent;
}


#container {
  width: 50%;
  height: 100%;
  position: relative;
  background: rgba(217, 217, 217, 0.4);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.author{
    margin-left: 15px;
}