.post_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2{
    margin-bottom:25px;
}

ul{
    list-style-type: none;
}

.post_list a{
    text-decoration: none;
    width: 100%;
    color: black;
}

.post_details{
    display:flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: 0 2px lightgray;
}

.date_author{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#add_post{
    text-align: center;
    padding: 1px 6px 1px 6px;
    width: 10%;
    background-color: chartreuse;
    border-radius: 25px;
    border: 2px black;
    box-shadow: 0 0 0 2px black;
    font-size: 20px;
    font-family: Arial;
}